body {
  background: url(coffee-apple.jpg) no-repeat center center fixed;
  background-size: cover;
}

.fondoPortfolio {
  background-image: linear-gradient(rgba(85, 17, 17, 0.5), rgba(85, 17, 17, 0.5) ),
  url(portfolio-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.fondoContact {
  background-image: linear-gradient(rgba(34, 51, 51, 0.9), rgba(34, 51, 51, 0.9)),
  url(contact-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 93.2vh;
  z-index: 999;
}

@media all and (max-width: 768px) {
  .fondoPortfolio {
    height: 219vh;
  }
}
